html{
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}

#dcbackground{
    height: 250px;
    background-image: linear-gradient(
        to bottom,
        rgba(240, 0, 0, 0.781),
        rgba(0, 38, 255, 0.425)

    );
}

#batmanbackground{
    height: 55rem;
    background-color: black;
}

#flashbackground{
    height: 55rem;
    background-color: red;
}

#greenlanternbackground{
    height: 55rem;
    background-color: green;  
}

#supermanbackground{
    height: 55rem;
    background-color: blue;

}

#wonderwomanbackground{
    height: 55rem;
    background-color: gold;
}