html{
    background-color: black;
}

#dcbackground{
    height: 450px;
    background-color: gray;
}

#batmanbackground{
    height: 450px;
    background-color: black;
}

#flashbackground{
    height: 450px;
    background-color: red;
}

#greenlanternbackground{
    height: 450px;
    background-color: green;  
}

#supermanbackground{
    height: 450px;
    background-color: blue;

}

#wonderwomanbackground{
    height: 450px;
    background-color: gold;
}